
<div class="foot">
    <div class="conten">
        <div class="foot-ss">
            <ul class="foot-list clear">
                <li>
                    <a href="">
                        <i class="iconfont">&#xe60c;</i>
                        1小时快修服务
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="iconfont">&#xe60d;</i>
                        7天无理由退货
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="iconfont">&#xe60a;</i>
                        15天免费换货
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="iconfont">&#xe62f;</i>
                        满150元包邮
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="iconfont">&#xe779;</i>
                        520余家售后网点
                    </a>
                </li>
            </ul>
        </div>
        <div class="foot-link clear">
            <dl class="bb-links">
                <dt>帮助中心</dt>
                <dd>
                    <a href="">购物指南</a>
                </dd>
                <dd>
                    <a href="">支付方式</a>
                </dd>
                <dd>
                    <a href="">配送方式</a>
                </dd>
            </dl>
            <dl class="bb-links">
                <dt>服务支持</dt>
                <dd>
                    <a href="">售后政策</a>
                </dd>
                <dd>
                    <a href="">自助服务</a>
                </dd>
                <dd>
                    <a href="">相关下载</a>
                </dd>
            </dl>
            <dl class="bb-links">
                <dt>线下门店</dt>
                <dd>
                    <a href="">小米之家</a>
                </dd>
                <dd>
                    <a href="">服务网点</a>
                </dd>
                <dd>
                    <a href="">零售网点</a>
                </dd>
            </dl>
            <dl class="bb-links">
                <dt>关于小米</dt>
                <dd>
                    <a href="">了解小米</a>
                </dd>
                <dd>
                    <a href="">加入小米</a>
                </dd>
                <dd>
                    <a href="">联系我们</a>
                </dd>
            </dl>
            <dl class="bb-links">
                <dt>关注我们</dt>
                <dd>
                    <a href="">新浪微博</a>
                </dd>
                <dd>
                    <a href="">小米部落</a>
                </dd>
                <dd>
                    <a href="">官方微信</a>
                </dd>
            </dl>
            <dl class="bb-links">
                <dt>特色服务</dt>
                <dd>
                    <a href="">F 码通道</a>
                </dd>
                <dd>
                    <a href="">小米移动</a>
                </dd>
                <dd>
                    <a href="">防伪查询</a>
                </dd>
            </dl>
            <div class="bb-con">
                <p class="dianh">400-100-5678</p>
                <p>
                    <span>周一至周日 8:00-18:00</span>
                    <span style="display:none;">2月7日至13日服务时间 9:00-18:00</span>
                    <br />
                    （仅收市话费）
                </p>
                <a href="" class="btn  btn1 btn2"> 24小时在线客服</a>
            </div>
        </div>
    </div>
</div>
<div class="site-info">
    <div class="conten">
        <div class="logo ir">小米官网</div>
        <div class="sit-text">
            <p class="sites">
                <a href="">小米网</a>
                <span class="sep">|</span>
                <a href="">MIUI</a>
                <span class="sep">|</span>
                <a href="">米聊</a>
                <span class="sep">|</span>
                <a href="">多看书城</a>
                <span class="sep">|</span>
                <a href="">小米路由器</a>
                <span class="sep">|</span>
                <a href="">小米后院</a>
                <span class="sep">|</span>
                <a href="">小米天猫店</a>
                <span class="sep">|</span>
                <a href="">小米淘宝直营店</a>
                <span class="sep">|</span>
                <a href="">小米网盟</a>
                <span class="sep">|</span>
                <a href="">问题反馈</a>
                <span class="sep">|</span>
                <a href="">Select Region</a>
                <span class="sep">|</span>
            </p>
            <p>
                ©<a href="">mi.com</a>
                京ICP证110507号 京ICP备10046444号
                <a href="">京公网安备11010802020134号 </a>
                <a href="">京网文[2014]0059-0009号</a>
                <br />
                违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
            </p>
        </div>
        <div class="into-link">
            <a href="">
                <img  class="lazy" src="http://www.jq22.com/demo/jsloading-141022114841/images/blank.gif" data-original="http://olx5f4b93.bkt.clouddn.com/seal.png"/>
            </a>
            <a href="">
                <img  class="lazy" src="http://www.jq22.com/demo/jsloading-141022114841/images/blank.gif" data-original="http://olx5f4b93.bkt.clouddn.com/v-logo-2.png" />
            </a>
            <a href="">
                <img  class="lazy" src="http://www.jq22.com/demo/jsloading-141022114841/images/blank.gif" data-original="http://olx5f4b93.bkt.clouddn.com/v-logo-1.png"/>
            </a>
            <a href="">
                <img  class="lazy" src="http://www.jq22.com/demo/jsloading-141022114841/images/blank.gif" data-original="http://olx5f4b93.bkt.clouddn.com/v-logo-3.png"/>
            </a>
        </div>
    </div>
    <div class="bz ir">探索黑科技，小米为发烧而生</div>

</div>

